services:
  - type: web
    name: ai-prediction-api
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: starter
    region: singapore
    branch: main

    healthCheckPath: /

    autoDeploy: true

    envVars:
      - key: DB_HOST
        sync: false

      - key: DB_PORT
        value: "3306"

      - key: DB_NAME
        sync: false

      - key: DB_USER
        sync: false

      - key: DB_PASS
        sync: false

      - key: ALLOWED_ORIGINS
        value: "*"

      - key: GROQ_API_KEY
        sync: false

      - key: PYTHONUNBUFFERED
        value: "1"

      - key: TF_CPP_MIN_LOG_LEVEL
        value: "2"